/* Write your CSS here */
.match-card-container {
  width: 32%;
  height: 370px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  color: #ffffff;
  background-color: #0f172a;
  border-radius: 10px;
  margin: 10px auto;
  padding: 10px;
}
.match-card-team-logo {
  width: 50%;
  height: 120px;
}
.match-card-team-name {
  font-size: 22px;
  height: 50px;
  text-align: center;
}
.match-card-team-result {
  font-size: 16px;
  text-align: center;
}
.match-card-team-status {
  font-size: 18px;
  text-align: center;
}
.color-green {
  color: #18ed66;
}
.color-red {
  color: #e31a1a;
}
/* ------------------------------------------------------------------ */
@media (width <= 768px){
  .match-card-container{
    width: 48%;
    height: 300px;
  }
  .match-card-team-logo{
    width: 40%;
    height: 100px;
  }
  .match-card-team-name{
    font-size: 18px;
  }
  .match-card-team-result{
    font-size: 14px;
  }
  .match-card-team-status{
    font-size: 16px;
  }
}